.wrapper {
  padding: 15px;
  background-color: #24292e;
  color: #fff;
  font-size: 16px;

  a {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    font-weight: bold;

    &:link,
    &:visited {
      color: inherit;
    }
  }
}

.welcome-header {
  display: flex;
  justify-content: center;
}
